target/
out/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.gradle

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# IntelliJ files
.idea/
*.iml

# R stuff
.Rhistory

# This that should not be added to Git
src/main/scala/eu/qrowd_project/wp6/transportation_mode_learning/scripts/AccelerometerDataCollector.scala
src/main/scala/eu/qrowd_project/wp6/transportation_mode_learning/scripts/WindowDistanceDebugging.scala
src/main/resources/cassandra.conf
src/main/resources/tomtomdev.conf
